{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" conten t="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'lib/bootstrap-5.2.3-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/bootstrap-5.2.3-dist/js/jquery-3.6.2.min.js'%} ">
    <link rel="stylesheet" href="{% static 'lib/bootstrap-5.2.3-dist/js/bootstrap.min.js' %}">    
    <title>Inicio</title>
</head>

<body class="bg-success">
    <h1>
        MI PRIMERA PAGINA WEB EN DJANGO
    </h1>

    {% block content %}
        

    <ul>
        {% for cat in categories %}
        <li>{{ cat.id }} / {{ cat.name }}</li>
        {% endfor %}
    </ul>
    {% endblock %}

    <p>{{ name }}</p>
</body>

</html>